<div class="container clear">
  <div class="row">
    <div class="col-lg-9 col-sm-6">
      {{ title_prefix }}{{ content.body }}
    </div>
    <div class="col-lg-3 col-sm-6">
        {% set createdDate = node.getCreatedTime|date('j F Y') %}<div class="card-body">
          {{ author_picture }}
         <h5 class="card-title">{{ author_name }}</h5>
          <i class="icon-calendar"></i> {{ createdDate }}</span>
      </div>
    </div>
  </div>
</div>
{{ content.field_solution_comments }}
